<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title><%= app_name %> - <%= title %></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
      <link rel='stylesheet' href='/stylesheets/reset.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/colorbox.css' />
      <script src="/javascripts/anuncios.js" type="module"></script>
      <script src="/javascripts/scroll.js" type="module"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="/javascripts/jquery.colorbox-min.js"></script>
  </head>
  <body>
    <header class="header-main">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          
        <a class="navbar-brand <%= page === 'home' ? 'active' : '' %>" href="/">
          <i class="fas fa-shopping-cart logo"></i>
          <%= app_name %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav links">
            <li class="nav-item">
              <a class="nav-link <%= page === 'ads' ? 'active' : '' %>" href="/anuncios"><%= __('Ad List') %></a>
            </li>
            <% if (session.authUser) { %>
              <li class="nav-item">
                <a class="nav-link <%= page === 'new_ad' ? 'active' : '' %>" href="/anuncios/new"><%= __('New Ad') %></a>
              </li>
            <% } %>
            <% if (session.authUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/logout"><%= __('Logout') %></a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link <%= page === 'login' ? 'active' : '' %>" href="/login"><%= __('Login') %></a>
              </li>
            <% } %>
          </ul>

          <ul class="navbar-nav flex-row ml-md-auto nav-lang">
            <span class="lang-label"><%= __('Language:') %></span>
            <% getLocales().forEach(lang => { %>
              <li class="nav-item">
                <a class="nav-link <%= lang === locale ? 'active' : '' %>" href="/lang/<%= lang %>"><%= lang.toUpperCase() %></a>
              </li>
            <% }) %>
          </ul>
      
        </div>
      </nav>    

    </header>

    <% if (messages.error && messages.error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show popup-message" role="alert">
        <%= messages.error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    <% if (messages.success && messages.success.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show popup-message" role="alert">
        <%= messages.success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
