<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %> - Anuncios
  </title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <script src="/javascripts/main.js" type="module"></script>
</head>

<body>

  <header>
    <h1>
      <a href="/">
        <%= title %>
      </a>
    </h1>
  </header>

  <nav>

  </nav>

  <main>

<div>

    <section class="search-section">
      <form class="search-form shadow-box-light" method="GET" action="/anuncios">

        <div class="form-wrapper">
          <div class="form-title">
            <h3 class="shadow-box">Filtros</h3>
          </div>

          <div class="form-content shadow-box-light">

            <div>
              <label>Nombre: </label>
              <input type="text" id="nombre" name="nombre" placeholder="Nombre">
            </div>

            <div>
              <label>Tipo: </label>
              <select id="venta" name="venta">
                <option value="">-</option>
                <option value="true">Venta </option>
                <option value="false">Búsqueda </option>
              </select>
            </div>     

            <div>
              <label>Precio:</label>
              <input type="text" name="precio" id="precio" placeholder="Precio">
            </div>

            <div><label>Tags: </label>
              <label><input type="checkbox" id="tag-work" name="tag" value="work">Work</label>
              <label><input type="checkbox" id="tag-lifestyle" name="tag" value="lifestyle">Lifestyle</label>
              <label><input type="checkbox" id="tag-motor" name="tag" value="motor">Motor</label>
              <label><input type="checkbox" id="tag-mobile" name="tag" value="mobile">Mobile</label>
            </div>

            <div>
              <label>Orden: </label>
              <select id="sort" name="sort">
                <option value="">-</option>
                <option value="nombre">Nombre (asc) </option>
                <option value="-nombre">Nombre (desc) </option>
                <option value="precio">Precio (asc) </option>
                <option value="-precio">Precio (desc) </option>
              </select>    
            </div>

            <div>
              <label>Start: </label>
              <input type="number" min="0" name="start" id="start" placeholder="Start">
            </div>

            <div>
              <label>Limit: </label>
              <input type="number" min="0" name="limit" id="limit" placeholder="Limit">
            </div>
  
          </div>

          <div class="buttons">
            <button type="Reset">Reset</button>
            <button type="submit">Buscar</button>
          </div>


        </div>


      </form>

    </section>

    <% if (totalPages > 0 && limit > 0 && currentPage <= totalPages) { %>
      <section class="paginator shadow-box-light">
        <span>Página</span>
        <ul class="pagination text-center">
            <% if (currentPage == 1) { %>
                <li class="disabled"><a>Primera</a></li>
            <% } else { %>
                <li><a href="/anuncios?start=0&limit=<%= limit %>&<%= filtersInQuery %>">Primera</a></li>
            <% } %>
            <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(currentPage) + 4) && i <= totalPages; i++) { %>
                <% if (i == currentPage) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/anuncios/?start=<%= (i * limit) - limit %>&limit=<%= limit %>&<%= filtersInQuery %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(currentPage) + 4 && i < totalPages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (currentPage == totalPages) { %>
                <li class="disabled"><a>Última</a></li>
            <% } else { %>
                <li><a href="/anuncios?start=<%= (totalPages * limit) - limit %>&limit=<%= limit %>&<%= filtersInQuery %>">Última</a></li>
            <% } %>
        </ul>
      </section>
    <% } %>  
    
</div>

<div>


    <section class="list">
      <header>
        <h3 class="shadow-box">Listado de Anuncios</h3>
      </header>


      

      <div class="wrapper-anuncios">
        <% if (anuncios.length > 0) {
          anuncios.forEach(anuncio => { %>
            <div class="anuncio shadow-box-light">
              <div class="wrapper-anuncio">
                <div class="data">
                  <h4 class="shadow-box-light">
                    <%= anuncio.nombre %>
                  </h4>
                  <p>
                      <span class="lbl">Precio: </span><span class="value"><%= anuncio.precio %></span>
                  </p>
                  <p>
                      <span class="lbl">Tipo: </span><span class="value"><%= anuncio.venta ? 'Venta' : 'Búsqueda' %></span>
                  </p>
                </div>
                <div class="picture">
                  <img class="shadow-box-light" src=<%=`/images/anuncios/${anuncio.foto}` %> alt="<%= anuncio.foto %>">
                </div>
              </div>   
              <div class="anuncio-footer">
                <p>
                    <span class="lbl">Tags: </span><span class="value"><%= anuncio.tags %></span>
                </p>
              </div>
            </div>
          <% }) 
          } else { %>
            <h4>No se encontró ningún anuncio para los filtros de búsqueda indicados</h4> 
          <% } %>  
      </div>

    </section>

</div>    

  </main>
</body>

</html>