<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %> - Anuncios
  </title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <script src="/javascripts/main.js" type="module"></script>
</head>

<body>

  <header>
    <h1>
      <a href="/">
        <%= title %>
      </a>
    </h1>
  </header>

  <nav>

  </nav>

  <main>
    <section class="search-section">
      <form class="search-form" method="GET" action="/anuncios">

        <div class="form-wrapper">
          <div class="form-title">
            <h3>Filtros</h3>
          </div>

          <div class="form-content">

            <div>
              <label>Nombre: </label>
              <input type="text" id="nombre" name="nombre" placeholder="Nombre">
            </div>

            <div>
              <label>Tipo: </label>
              <select id="venta" name="venta">
                <option value="">-</option>
                <option value="true">Venta </option>
                <option value="false">Búsqueda </option>
              </select>
            </div>     

            <div>
              <label>Precio:</label>
              <input type="text" name="precio" id="precio" placeholder="Precio">
            </div>
                        
            <div class="tags">
              <label>Tag: </label>
              <select id="tag" name="tag">
                <option value="">-</option>
                <option value="work">Work </option>
                <option value="lifestyle">Lifestyle </option>
                <option value="motor">Motor </option>
                <option value="mobile">Mobile </option>
              </select>
            </div>

            <div>
              <label>Orden: </label>
              <select id="sort" name="sort">
                <option value="">-</option>
                <option value="nombre">Nombre (asc) </option>
                <option value="-nombre">Nombre (desc) </option>
                <option value="precio">Precio (asc) </option>
                <option value="-precio">Precio (desc) </option>
              </select>    
            </div>
  
          </div>

          <div class="buttons">
            Página<%= page %> de <%= totalPages %>, Registros: <%= count %>
            <button type="Reset">Reset</button>
            <button type="submit">Buscar</button>
          </div>


        </div>


      </form>

    </section>

    <section class="list">
      <header>
        <h3>Listado de Anuncios</h3>
      </header>
      <div class="wrapper-anuncios">
        <% anuncios.forEach(anuncio => { %>
          <div class="anuncio">
            <div class="data">
              <p>
                <span class="lbl">Nombre: </span><span class="value"><%= anuncio.nombre %></span>
              </p>
              <p>
                  <span class="lbl">Precio: </span><span class="value"><%= anuncio.precio %></span>
              </p>
              <p>
                  <span class="lbl">Tipo: </span><span class="value"><%= anuncio.venta ? 'Venta' : 'Búsqueda' %></span>
              </p>
              <p>
                  <span class="lbl">Tags: </span><span class="value"><%= anuncio.tags %></span>
              </p>
            </div>
            <div class="picture">
              <img src=<%=`/images/anuncios/${anuncio.foto}` %> alt="<%= anuncio.foto %>">
            </div>
            
          </div>
        <% }) %>
      </div>
    </section>

  </main>
</body>

</html>