body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}


/*** Index  ****/

.shadow {
  text-shadow: 5px 5px 10px black;
}
.shadow-box {
  box-shadow: 4px 4px 15px grey;
}
.shadow-box-light {
  box-shadow: 1px 1px 15px grey;
}

body > header.home {
  height: 100vh;
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

body > header .cover {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  border: 1px solid grey;
  padding: 0.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 2px 2px 10px black;
}

.cover h1 {
  font-size: 3rem;
  text-shadow: 5px 5px 10px black;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}
.cover a {
  padding: 0.2rem 1.5rem;
  outline: none;
  color: #ffffff;
  background-color: green;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 2px 2px 5px black;
  border: 1px solid #005500;
}
.cover a:hover {
  background-color: darkgreen; 
}

body > header.ads {
  width: 100%;
  border: 1px solid grey;
  padding: 0.7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;  
}

/***** Anuncios ****/


h1 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

body > header {
  background-color: #222222;
  color: white;
  padding: 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

main {
  position: fixed;
  top: 3.3rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 1rem;
}

section {
  margin-bottom: 1rem;
}

.search-form {
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-title {
  margin-bottom: 0.5rem;
}

.form-title h3, section.list h3 {
  background-color: #333333;
  color: white;
  padding: 0.2rem 0 0.2rem 0.4rem;
  border-radius: 5px;
}


.form-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0.1rem;
  padding: 0.5rem;
}

.form-content div {
  padding: 0.6rem 0.6rem 0.2rem 0.6rem;
}

label {
  margin-right: 1rem;
  display: inline-block;
  text-align: left;
  line-height: 1.9rem;
}

input {
  padding: 0rem 0.5rem 0.2rem 0.3rem;
  width: 150px;
}

input[type="checkbox"] {
  width: inherit;
}

select {
  padding: 0.1rem;
  width: 150px;
}


.search-form .buttons {
  display: flex;
  justify-content: flex-end;
}
button {
  margin: 0.5rem 0.1rem 0.2rem 0.4rem;
  padding: 0.5rem 1rem;
  width: 100px;
  background-color: #333333;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  background-color: #555555;
}

section.list {
  left: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

section.list header {
  margin-bottom: 0.5rem;
}

.wrapper-anuncios {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
	justify-content: space-evenly;
}

.wrapper-anuncios > h4 {
  margin: 1.5rem;
}

.anuncio {
	flex: 1 0 200px;
  box-sizing: border-box;
  padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 900px;
}

.anuncio .wrapper-anuncio {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.anuncio img {
  border-radius: 5px;
  display: flex;
  border: 1px solid grey;
}

.anuncio .data {
  width: 100%;
  padding: 0rem 1rem 0rem 0rem;
}
.anuncio .data h4 {
  padding: 0.1rem 0.1rem 0.1rem 0.5rem;
  margin-bottom: 1rem;
  background-color: #333333;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
}
.anuncio .data span.lbl {
  min-width: 60px;
  display: inline-block;
  text-align: right;
  margin-right: 0.5rem;
}
.anuncio span.value {
  font-weight: bold;
  display: inline-block;
}
.anuncio .picture {
  width: 100%;
  border-radius: 5px;
}
.anuncio .anuncio-footer {
  text-align: right;
  margin: 0 1.1rem 0.6rem;
}

/*** Pagination ****/

section.paginator {
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5rem;
  justify-content: flex-end;
}

section.paginator span {
  line-height: 2rem;
  margin-right: 1rem;
}

ul.pagination {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  flex-wrap: wrap;
}

ul.pagination li {
  border: 1px solid #aaaaaa;
  margin-left: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  display: block;
}
ul.pagination li.disabled {
  color: #aaaaaa;
}
ul.pagination li.active,
ul.pagination li.active:hover {
  color: white;
  background-color: #333333;
  font-weight: bold;
}
ul.pagination li a {
  padding: 0.3rem 1rem;
  display: block;
}
ul.pagination li:hover {
  background-color: #555555;
  color: white;
}
ul.pagination li.disabled:hover {
  background-color: white;
  color: #aaaaaa;
}

/*** media queries **/
@media (max-width: 799px) {
  .anuncio {
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
  }
}

@media (min-width: 800px) {
  .anuncio {
    max-width: calc(50% - 10px);
    min-width: calc(50% - 10px);
  }
}

@media (min-width: 1650px) {
  .anuncio {
    max-width: calc(33% - 10px);
    min-width: calc(33% - 10px);
  }
}
