body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.shadow {
  text-shadow: 5px 5px 10px black;
}

body > header.home {
  height: 100vh;
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

body > header .cover {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3rem;
  text-align: center;

  width: 50%;
  border: 1px solid grey;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 2px 2px 10px black;

}

.cover h1 {
  font-size: 2.5rem;
  text-shadow: 5px 5px 10px black;  
  text-align: center;
  line-height: 3rem;

}
.cover a {
  padding: 0.2rem 1.5rem;
  outline: none;
  color: #ffffff;
  background-color: green; 
  border-radius: 8px;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 2px 2px 5px grey;
}
.cover a:hover {
  background-color: darkgreen; 
}

body > header.ads {
  width: 100%;
  border: 1px solid grey;
  padding: 0.7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;  
}

main {
  position: fixed; 
  top: 3rem; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  overflow: auto;
}


