<% include ../partials/header.html %>

  <main>

    <section class="search-section">
      <form class="search-form shadow-box-light" method="GET" action="/anuncios">

        <div class="form-wrapper">
          <div class="form-title">
            <h3 class="shadow-box">Filtros</h3>
          </div>

            <div class="form-content shadow-box-light">
              <div class="form-content-wrapper">
                <div class="wrapper-tags">
                  <div>
                    <label class="tag">Tags: </label>
                  </div>
                  <div class="tags">
                    <label><input type="checkbox" id="tag-work" name="tag" value="work" class="form-check form-check-inline">Work</label>
                    <label><input type="checkbox" id="tag-lifestyle" name="tag" value="lifestyle" class="form-check form-check-inline">Lifestyle</label>
                    <label><input type="checkbox" id="tag-motor" name="tag" value="motor" class="form-check form-check-inline">Motor</label>
                    <label><input type="checkbox" id="tag-mobile" name="tag" value="mobile" class="fform-check form-check-inline">Mobile</label>
                  </div>
                </div>                
              </div>
              <div class="filters-wrapper">
                <div class="row">
                  <label class="field col">Nombre: </label>
                  <input type="text" id="nombre" name="nombre" class="form-control col">
                </div>
                <div class="row">
                  <label class="field col">Tipo: </label>
                  <select id="venta" name="venta" class="form-control col">
                    <option value="">-</option>
                    <option value="true">Venta </option>
                    <option value="false">Búsqueda </option>
                  </select>
                </div>     
                <div class="row">
                  <label class="field col">Precio:</label>
                  <input type="text" name="precio" id="precio" class="form-control col">
                </div>
                <div class="row">
                  <label class="field col">Sort: </label>
                  <input type="text" name="sort" id="sort" class="form-control col">
                </div>
                <div class="row">
                  <label class="field col">Start: </label>
                  <input type="number" min="0" name="start" id="start" class="form-control col">
                </div>
                <div class="row">
                  <label class="field col">Limit: </label>
                  <input type="number" min="0" name="limit" id="limit" class="form-control col">
                </div>
                <div class="row">
                  <label class="field col">Fields: </label>
                  <input type="text" id="fields" name="fields" width="100" class="form-control col">
                </div>
              </div>
            </div>
            <div class="buttons">
              <button type="Reset">Reset</button>
              <button type="submit">Buscar</button>
            </div>
          </div>
        </div>

      </form>

    </section>

    <% if (totalPages > 0 && currentPage <= totalPages) { %>
      <section class="paginator shadow-box-light">
        <span>Página</span>
        <ul class="pagination text-center">
            <% if (currentPage == 1) { %>
                <li class="disabled"><a>Primera</a></li>
            <% } else { %>
                <li><a href="/anuncios?start=0&limit=<%= limit %>&<%= filtersInQuery %>">Primera</a></li>
            <% } %>
            <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(currentPage) + 4) && i <= totalPages; i++) { %>
                <% if (i == currentPage) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/anuncios/?start=<%= (i * limit) - limit %>&limit=<%= limit %>&<%= filtersInQuery %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(currentPage) + 4 && i < totalPages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (currentPage == totalPages) { %>
                <li class="disabled"><a>Última</a></li>
            <% } else { %>
                <li><a href="/anuncios?start=<%= (totalPages * limit) - limit %>&limit=<%= limit %>&<%= filtersInQuery %>">Última</a></li>
            <% } %>
        </ul>
      </section>
    <% } %>  
    

    <section class="list">
      <header>
        <h3 class="shadow-box">Listado de Anuncios</h3>
      </header>

      <div class="wrapper-anuncios">
        <% if (anuncios.length > 0) {
          anuncios.forEach(anuncio => { %>
            <article class="anuncio shadow-box-light">
              <div class="wrapper-anuncio">
                <header class="title">
                  <h4 class="shadow-box-light">
                    <%= anuncio.nombre ? anuncio.nombre : '-' %>
                  </h4>
                </header>
                <div class="data">
                  <div class="fields">
                    <div class="<%= anuncio.precio ? '' : 'hidden' %>">
                        <span class="lbl">Precio: </span>
                        <span class="value"><%= anuncio.precio + ' €' %></span>
                    </div>
                    <div class="<%= anuncio.venta === 'undefined' ? 'hidden' : '' %>">
                        <div><span class="lbl">Tipo: </span></div>
                        <div><span class="value"><%= anuncio.venta ? 'Venta' : 'Búsqueda' %></span></div>
                    </div>
                    <div class="<%= anuncio.tags ? '' : 'hidden' %>">
                      <div><span class="lbl">Tags: </span></div>
                      <div><span class="value">
                        <% if (anuncio.tags) { 
                          anuncio.tags.forEach((tag, index, arr) => { %>
                            <%= tag + (index < arr.length - 1 ? ', ' : '') %>
                          <% })
                        } %>
                        </span>
                      </div>
                    </div>                    
                  </div>
                  <div class="picture <%= anuncio.foto ? '' : 'hidden' %>">
                    <img class="shadow-box-light" src=<%=`/images/anuncios/${anuncio.foto}` %> alt="<%= anuncio.foto %>">
                  </div>                  
                </div>
              </div>
            </article> 
        <% }) 
        } else { %>
          <h4>No se encontró ningún anuncio para los filtros de búsqueda indicados</h4> 
        <% } %>  
      </div>

    </section>

  </main>

<% include ../partials/footer.html %>